h1 {
  @apply .mb-6;
}

p, pre {
  @apply .mb-4;
}

pre {
  @apply .text-sm .font-mono .bg-white .p-4 .border .rounded .shadow-inner;
}

a {
  @apply .text-yellow-darker .no-underline;
  transition: opacity .2s;
}
a:hover {
  opacity: .7;
}
header a,
footer a {
  @apply .text-yellow-dark;
}
