.tooltip {
  @apply block z-50 text-sm;
  transition: opacity .3s, visibility .3s;
}
.tooltip[aria-hidden='true'] {
  @apply invisible opacity-0;
}
.tooltip[aria-hidden='false'] {
  @apply visible opacity-100;
}

.tooltip .tooltip-inner {
  @apply bg-gray-800 text-gray-100 px-3 py-1 rounded-lg;
}
.tooltip .tooltip-arrow {
  @apply absolute z-10 m-2 border-gray-800;
  border-width: 5px;
}

.tooltip[x-placement^="top"] {
  @apply mb-2;
}
.tooltip[x-placement^="top"] .tooltip-arrow {
  @apply border-b-0 my-0;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
}

.tooltip[x-placement^="bottom"] {
  @apply mt-2;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  @apply border-t-0 my-0;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
}

.tooltip[x-placement^="right"] {
  @apply ml-2;
}
.tooltip[x-placement^="right"] .tooltip-arrow {
  @apply border-l-0 mx-0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
}

.tooltip[x-placement^="left"] {
  @apply mr-2;
}
.tooltip[x-placement^="left"] .tooltip-arrow {
  @apply border-r-0 mx-0;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
}

.tooltip.popover .popover-inner {
  @apply bg-gray-100 text-gray-800;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, .1);
}
.tooltip.popover .popover-arrow {
  @apply border-gray-100;
}
